:root {
    --dark: #262424;
    --light: #bfbebe;
    --border:#ca40a8;
    --border-btn: #7d6868;
}

.text-gardient {
    text-align: center;
    background-color: rgb(red, green, blue);
}

.header nav {
    background-color: aqua;
    padding: 20px 0;
    width: 100%;
}
main {
    margin-top: 50px;
}

form {
    margin: 32px 0;
}

table {
    border-spacing: 0;
    width: 100%;
}

td, th {
    padding-left: 10px;
    padding: 10px;
    vertical-align: top;
    text-align: center;
    border-top: 3px solid var(--border);

}
tr, td{
    padding-top: 10px;
    text-align: center;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
}

.d-flex-justify-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.border-shadow {
    border: 1px solid var(--border-btn);
    box-shadow: 1px 3px 6px var(--border);
}

.text-dark {
    color: var(--dark);
}

.text-light {
    color: var(--light);
}

form{
    margin-top: 10px;
}