<form action="/controller/" method="POST" id="add-user">
            <div class="new__user">
                <div class="form-group">
                    <label for="name" class="text-light">Name</label>
                    <input type="hidden" name="id" value="">
                    <input type="text" name="name" value="" placeholder="Jhon">
                </div>
                <div class="form-group">
                    <label for="Email" class="text-light">Email</label>
                    <input type="text" name="email" value="" placeholder="exzample@gmail.com">
                </div>
                <div class="form-group">
                    <label for="gender" class="text-light">Пол</label>
                    <div class="radio">
                        <input type="radio" name="gender" value="мужчина">
                        <label for="gender" class="text-light">Мужчина</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="gender" value="женщина">
                        <label for="gender" class="text-light">Женщина</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="status" class="text-light">Статус</label>
                    <div class="radio">
                        <input type="radio" name="status" value="активный">
                        <label for="gender" class="text-light">Активный</label>
                    </div>
                    <div class="radio">
                        <input type="radio" name="status" value="неактивный">
                        <label for="gender" class="text-light">Неактивный</label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn text-dark">Добавить</button>
                </div>
            </div>
        </form> 